@value max-image-width, grid-card-image-height, grid-card-text-height from '/src/style/size.css';
@value grid-card-padding-width, grid-card-padding-height from '/src/style/size.css';
@value custom-grey, hover-color from '/src/style/colors.css';

.container {
  padding: grid-card-padding-height grid-card-padding-width;

  width: 100%;
  height: 100%;

  /* Limit the image width */
  max-width: calc(max-image-width + 2 * grid-card-padding-width);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  width: 100%;
  height: grid-card-text-height;

  padding: 2.4rem 1.2rem 0 1.2rem;

  display: flex;
  flex-direction: column;
}

.infoContainer {
  display: flex;
  align-items: center;

  margin-top: 1.6rem;
}

.rightPart {
}

.leftPart {
  flex: 1;
}

.biddingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;
}

.imageContainer {
  display: flex;
  height: 100%;
  width: 100%;

  justify-content: center;

  height: grid-card-image-height;
  min-height: grid-card-image-height;

  max-height: grid-card-image-height;
}

.image {
  max-width: 100%;
  max-height: 100%;

  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 0.8rem;
}

.subTitle {
  font-size: 1.6em;
}

.title {
  font-size: 1.8rem;
}

.stakesContainer {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 0.4rem;
}

.stakeContainer {
  display: flex;
  flex-direction: column;
}

.stakeTitle {
  font-size: 1.4rem;
  color: custom-grey;
}

.stakeValue {
  font-size: 1.6rem;
  padding-left: 0.8rem;
}

.time {
  font-size: 1.6rem;
  text-align: center;

  margin-top: 1.6rem;
}

.bidContainer {
  font-size: 1.6rem;
  margin-left: auto;
}

.bidContainer:hover {
  cursor: pointer;
  color: hover-color;
}

.wishlistContainer {
  font-size: 1.4rem;
  margin: 1.2rem auto 0 auto;
}

.wishlistContainer:hover {
  color: hover-color;
  cursor: pointer;
}

.bidButtonContainer {
  font-size: 1.6rem;
  text-align: right;
}

.bidButtonContainer:hover {
  color: hover-color;
  cursor: pointer;
}

.bidTextContainer {
  font-size: 1.6rem;
  text-align: left;
}
