@value max-image-width, grid-card-image-height, grid-card-text-height from '/src/style/size.css';
@value grid-card-padding-width, grid-card-padding-height from '/src/style/size.css';
.container {
  padding: grid-card-padding-height grid-card-padding-width;

  width: 100%;
  height: 100%;

  /* Limit the image width */
  max-width: calc(max-image-width + 2 * grid-card-padding-width);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: grid-card-image-height;
}

.textContainer {
  width: 100%;
  height: grid-card-text-height;

  padding: 2.4rem 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  gap: 2.4rem;
}

.biddingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;
}
