@value max-image-width from '/src/style/size.css';
@value overlay-color from '/src/style/colors.css';

.imageSmall {
  height: auto;
  width: 100%;

  max-width: max-image-width;

  cursor: zoom-in;
}

.imageBig {
  width: auto;
  max-height: 90vh;
  max-width: 90vw;
  height: auto;

  cursor: zoom-out;
}
