@value hover-color from '/src/style/colors.css';

.container {
  display: flex;
  justify-content: center;

  margin-bottom: 1.6rem;
}

.button {
  font-size: 1.8rem;

  padding: 1rem 2rem;

  border: 0.1rem solid;
  border-radius: 0;
}

.button:hover {
  color: hover-color;
  border-color: hover-color;
  cursor: pointer;
}
