.container {
  width: 100%;
  background-color: white;
  border-top: 2px solid black;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 12rem;
  width: 12rem;
  padding-bottom: 2.4rem;
}
