@value hover-color from '/src/style/colors.css';

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 6;
  background-color: black;

  overflow-y: auto;
}

.container {
  padding: 2.4rem;
  max-height: -webkit-fill-available;

  min-height: 100%;
  min-width: 100%;

  color: white;

  display: flex;
  flex-direction: column;
}

.close {
  font-size: 6.2rem;
  color: white;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.close:hover {
  cursor: pointer;
  color: hover-color;
}

.links {
  width: 100%;
  margin: auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  text-align: center;

  letter-spacing: 0.2rem;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.item:hover {
  color: hover-color;
  cursor: pointer;
}

.linkTitle {
  font-size: 4.4rem;
}

.items {
  font-size: 3.2rem;
}

.title {
  font-size: 6.2rem;
  width: 100%;
  text-align: center;
  letter-spacing: 0.75rem;
  padding-bottom: 4.8rem;
}

@media (max-width: 35em) {
  .container {
    min-width: 100vw;
    height: 100vh;
    max-height: -webkit-fill-available;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .linkTitle {
    font-size: 2.4rem;
  }

  .items {
    font-size: 1.8rem;
  }

  .title {
    display: none;
  }
}

@media (max-height: 40em) {
  .title {
    display: none;
  }
}

@media (max-height: 25em) {
  .linkTitle {
    font-size: 2.4rem;
  }

  .items {
    font-size: 1.8rem;
  }
}
