.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.image {
  width: 100%;
  height: auto;
}

.image:hover {
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.placeholder {
  max-width: 400px;
  height: 600px;
}
