@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Joan&family=Playfair+Display&display=swap");

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 03 BORDER-RADIUS

Default: 1px

--- 04 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 05 Breakpoints

75em (1200px) / 60em (960px) / 50em (800px) / 40em (640px) / 35em (560px) / 

-- 06 Z-Hirachy

 1 - Base, 2 - Navbar, 3 - Carousel, 4 - WinLoose, 5 - Bid, 6 - Menu

*/

* {
}

html {
  /* 10px / 16px  */
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Joan", serif;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #000;
}

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

@media (max-width: 60em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

h1,
h2,
p,
h3 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}
