@value secondary from '/src/style/colors.css';

.back {
  width: 12rem;
  height: 10rem;
  margin-bottom: 4.8rem;
  stroke-width: 0.35;
  /* display: none; */
  cursor: pointer;
}

.back:hover {
  color: secondary;
}

.container {
  display: flex;
  justify-content: center;
}

/* @media (max-width: 58em) {
  .back {
    display: inline;
  }
} */
