@value custom-grey, hover-color from '/src/style/colors.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80vw;
  max-width: 750px;

  padding: 4.8rem;
  font-size: 1.8rem;

  position: relative;
}

.close {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  font-size: 3rem;
  stroke-width: 1.7;
}

.close:hover {
  color: hover-color;
  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 1.2rem;
  width: 100%;

  border-bottom: 1px solid;
  padding: 2.4rem 2.4rem 1.6rem 2.4rem;
  margin: 0 2.4rem 1.2rem 2.4rem;
}

.subTitle {
  font-size: 2.4rem;
}

.title {
  font-size: 3rem;
}

.stakesContainer {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 1.2rem;
}

.stakeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stakeTitle {
  font-size: 1.6rem;
  color: custom-grey;
}

.stakeValue {
  font-size: 1.8rem;
  padding-left: 0.8rem;
}

.time {
  font-size: 1.8rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin: 1.2rem 0 4.8rem 0;
}

.chanceTextContainer {
  font-size: 1.8rem;
}

.leftPart {
  flex: 1;
}

.rightPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: right;
  gap: 1.2rem;
}

.bid {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputText {
  margin: 0 2.4rem 4.8rem 2.4rem;
  font-size: 1.8rem;
}

.inputAction {
  display: flex;
  align-items: center;

  gap: 2.4rem;

  margin-bottom: 3.2rem;
}

.inputForm {
  width: 24rem;
  height: 3.2rem;
  border: 1px solid black;
  border-radius: 1px;

  /* We set it on purpose to disable zoom */
  font-size: 17px;

  text-align: right;
  padding-right: 1.6rem;
}

.inputForm:focus {
  outline: 1px solid hover-color;
  border: 1px solid hover-color;
}

.inputContainer {
  position: relative;
}

.inputFormText {
  position: absolute;

  bottom: -1.8rem;
  left: 0.4rem;

  font-size: 1.4rem;
  color: custom-grey;
}

.inputButtonActive:hover {
  cursor: pointer;
  color: hover-color;
}

.inputButtonActive {
  color: black;
}

.inputButtonPassive {
  pointer-events: none;
  color: black;
}

.message {
  text-align: center;
  /* color: error-color; */
  height: 1.8rem;
}

@media (max-width: 40em) {
  .info {
    flex-direction: column;
    gap: 4.8rem;
  }

  .inputAction {
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .container {
    width: 90vw;
    padding: 3.2rem 2.4rem;
  }

  .stakeTitle {
    font-size: 1.6rem;
    color: custom-grey;
    text-align: center;
  }

  .stakeValue {
    font-size: 1.8rem;
    text-align: center;
  }

  .info {
    display: block;
  }

  .stakesContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3.2rem;
  }

  .rightPart {
    align-items: center;
  }
}

@media (max-width: 30em) {
  .container {
    min-width: 100%;
    min-height: 100%;
    padding: 2.4rem;
  }

  .inputText {
    margin: 0 1.2rem 4.8rem 1.2rem;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1.2rem;
    width: 100%;

    padding: 4.8rem 0 1.6rem 0;
    margin: 0 2.4rem 1.2rem 2.4rem;
  }
}
