@value max-image-width, masonry-card-padding-bottom from '/src/style/size.css';

.container {
  max-width: max-image-width;

  padding-bottom: masonry-card-padding-bottom;
  margin: 0 auto;

  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 3rem;
  align-items: center;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.header {
  font-size: 2.4rem;
  padding-bottom: 1.2rem;
}
