@value max-image-width, masonry-card-padding-bottom from '/src/style/size.css';

.container {
  max-width: max-image-width;

  padding-bottom: masonry-card-padding-bottom;
  margin: 0 auto;
}

.text {
  font-size: 1.6rem;
}
