@value max-image-width, masonry-card-padding-bottom from '/src/style/size.css';

.container {
  max-width: max-image-width;

  padding-bottom: masonry-card-padding-bottom;
  margin: 0 auto;
}

.text {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  line-height: 1.2;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.end {
  text-align: right;
  padding-right: 4.8rem;
}
